@import "tailwindcss";
@import 'material-icons/iconfont/material-icons.css';

:root {
    --powerful-color: #FF7F00;
    --secondary-color: #000000;
    --primary-color: #D3D3D3;
    --primary-color-light: #E8E8E8;
    --primary-color-dark: #B0B0B0;
    --urgent-reddish-orange: #FF1300;
    --today-reddish-orange: #FF9F50;
    --form-bg: #ffffff;
    --form-text: #1a1a1a;
    --input-bg: #f9f9f9;
    --input-border: #d1d5db;
}

.dark {
--powerful-color: #FF7F00;
--secondary-color: #ffffff;
--primary-color: #0a0a0a;
--primary-color-light: #1A1A1A;
--primary-color-dark: #2c2c2c;
--form-bg: #1e1e1e;
--form-text: #f3f3f3;
--input-bg: #2c2c2c;
--input-border: #4b5563;
}  

.invisible{
    display: none;
}

body{
    margin: 8px;
    background-color: var(--primary-color);
}
  