@import "tailwindcss";

:root{
    --powerful-color :#FF7F00;
    --secondary-color :#000000;
    --primary-color: #D3D3D3;
    --primary-color-light: #E8E8E8; 
    --primary-color-dark: #B0B0B0;
    --urgent-reddish-orange: #FF1300;
    --today-reddish-orange: #FF9F50;  
    --form-bg: white;
    --form-text: #000000;
}

.dark{
    --powerful-color : #D3D3D3;
    --secondary-color :#FF7F00;
    --primary-color: #0a0a0a;
    --primary-color-light: #1A1A1A; 
    --primary-color-dark: #0a0a0a; 
    --urgent-reddish-orange: #FF1300; 
    --today-reddish-orange: #FF9F50; 
    --form-bg: #323232;
    --form-text: #D3D3D3;
}

.invisible{
    display: none;
}

body{
    margin: 8px;
    background-color: var(--primary-color);
}
  